DB_PASSWORD=12345678
DB_NAME=goflash
SMTP_HOST=smtp.qq.com
SMTP_USER=pincman@qq.com
SMTP_PASSWORD=punhkunnnlxjdibj
SMTP_SSL=true
SMTP_FROM=pincman<pincman@qq.com>
SUPER_ADMIN_USERNAME=pincman
SUPER_ADMIN_PASSWORD=123456aA$
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
APP_URL=goflashdeals.com
